body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ccc;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo {
    position: relative;
    margin-right: 60px;
    animation: slideDown 1s cubic-bezier(.77,0,.18,1) both;
}

.logo-box {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
}

.logo-text-top, .logo-text-bottom {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: normal;
}

.logo-text-top {
    align-self: flex-start;
}

.logo-text-bottom {
    align-self: flex-end;
}